// defalut background color
$backgroundColor: rgb(18 18 18);

// sub background color
$subBackgroundColor: rgb(40 40 40);

// defalut font color
$fontColor: rgb(237 237 237);

// sub font color
$subFontColor: rgb(207 207 207);

// post Font color
$postFontColor: rgb(100 100 100);

// post sub font color
$postSubFontColor: rgb(160 160 160);

// defalut font family
$baseFont: notosanskr, serif;
