@use 'src/styles/variables';

.container {
	position: relative;
	margin-bottom: 1.5rem;
	padding: 1rem;
	overflow: hidden;
	background-color: var(--sub-background-color);
	border-radius: 1rem;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
	transition-property: box-shadow;

	&:hover {
		cursor: pointer;
		filter: drop-shadow(2px 5px 7px rgb(128 128 128));
		transition: 0.2s;
	}
}

.link {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}

.postWrap {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	gap: 0.5rem;
}

.thumbnail {
	position: relative;
	width: 100%;
	height: 200px;
	margin-bottom: 1rem;
	background-color: rgb(28 28 28);

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		color: transparent;
		inset: 0;
	}
}

.regDate {
	color: var(--post-font-color);
}

.description {
	color: var(--post-sub-font-color);
	line-height: 1.5rem;
	margin-bottom: 0.5rem;
}


.tag span {
	display: inline-block;
	margin-right: .25rem;
	padding: 0.45em 0.6em;;
	font-weight: 400;
	font-size: 75%;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	vertical-align: baseline;
	background-color: var(--tag);
	border-radius: .25rem;
}

@media (min-width: 768px) {
	.container {
		margin-bottom: 2rem;
	}

	.thumbnail {
		position: relative;
		width: 100%;
		height: 300px;
		margin-bottom: 1rem;
		background-color: rgb(28 28 28);
	}
}