// defalut background color
$backgroundColor: rgb(0,0,0);

// sub background color
$subBackgroundColor: #fa2454;

// defalut font color
$fontColor: #fff;

// sub font color
$subFontColor: #fffcfc;

// change font color
$changeFontColor: rgb(18 18 18);

// post Font color
$postFontColor: rgb(151 151 151);

// post sub font color
$postSubFontColor: #fffcfc;

// post content border
$postContentBorder: 1px solid hsl(0deg 0% 100% / 0.9);

// post content left border
$postContentLeftBorder: 5px solid hsl(14deg 9% 100% / 0.9);

// header background color
$headerBackgroundColor: #c3b1e133;

// footer hover color
$footerHoverFontColor: rgb(160 160 160);

// home tag background color
$tag: #6c757d;

// profile develop font color
$profileDevelopColor: #fffcfc;

// post detail background color
$postBackgroundColor: hsl(0deg 0.22% 10%);

// post detail tag background color
$postTagBackgroundColor: #fa2454;

// icon link hover background color
$iconLinkBackgroundColor: #fa2454;

// back to top background color
$backToTopBackgroundColor: rgb(40 40 40);

// aside heading background color
$asideHeadingBackgroundColor: #121212;

// defalut font family
$baseFont: notosanskr, serif;

// postList tag color
$postListTagColor: #ffffff80;

// postList tag boder color
$postListTagBoderColor: rgb(255 255 255 / 0.1);
