@use 'src/styles/variables';

.profile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 1.25rem;
	padding: 0.5rem 0.8rem;
	background-color: rgb(40 40 40);
	border-radius: 1rem;
}

.mainProfile {
	display: flex;
	align-items: center;
}

.image {
	flex: 0 0 auto;
	width: 64px;
	height: 64px;
	background-color: #f0f8ff;
	background-position: center center;
	background-size: cover;
	border-radius: 999px;
}

.sub {
	width: 100%;
	padding: 0.5rem;

	a {
		margin-right: 9.6px;
	}
}

.developer {
	color: rgb(199 199 199);
}

.author {
	margin-bottom: 4.8px;
	font-weight: 700;
	font-size: 1.24rem;
}

.description {
	color: variables.$subFontColor;
	font-size: 0.85rem;
	line-height: 1.5;
	white-space: normal;
}

@media (min-width: 1024px) {
	.container {
		display: block;
		grid-column: span 3 / span 3;
	}

	.profile {
		flex-direction: column;
		align-items: center;
		margin-bottom: 2.25rem;
		padding: 1rem;
	}

	.mainProfile {
		flex-direction: column;
	}

	.image {
		width: 128px;
		height: 128px;
	}
}

