// defalut background color
$backgroundColor: rgb(18 18 18);

// defalut font color
$fontColor: rgb(237 237 237);

// sub fonr color
$subFontColor: rgb(207 207 207);

// defalut font family
$baseFont: notosanskr, serif;