.container {
	max-width: 52rem;
	margin: 0 auto;
	padding: 3rem 1rem;
	background-color: var(--post-background-color);
	border-radius: 1rem;
};

.detailWrap {
	max-width: 48rem;
	margin: 0 auto;
}

.breadcrumb {
	max-width: 52rem;
	margin: 0 auto;
}