.container {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 52rem;
    border-radius: 1rem;
    background-color: hsl(0 0.22% 10%);
};

.detailWrap {
    margin: 0 auto;
    max-width: 42rem;
}