.tableOfContents {
	max-height: 600px;
	margin-bottom: 4rem;
	padding: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.heading {
	margin: 0 !important;
	padding: 10px 20px;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 0;
	padding-left: 0 !important;
	list-style: disc;
	list-style-position: inside;
}

.item {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.childItem {
	list-style: "-";
	list-style-position: inside;
}

.text {
	margin-left: 1rem;
}