.container {
	display: block;
}

.link {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.icon {
	display: none;
}

.tagWrap {
	display: flex;
	align-items: center;
}

@media (min-width: 1024px) {
	.link {
		flex-direction: column;
	}
	
	.icon {
		display: block;
	}
}