.home {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: 1.5rem;
	padding: 2rem 0;
}

.lcontainer {
	top: 60px;
	display: none;
	height: calc(-210px + 100vh);
	overflow: scroll;
	scrollbar-width: none;
}

.mainContainer {
	grid-column: span 12 / span 12;
}

.rcontainer {
	position: sticky;
	top: 60px;
	display: none;
	grid-column: span 2 / span 2;
	height: calc(-210px + 100vh);
	overflow: scroll;
	scrollbar-width: none;
}

@media (min-width: 1024px) {
	.lcontainer {
		display: block;
		grid-column: span 3 / span 3;
	}

	.mainContainer {
		grid-column: span 7 / span 7;
	}

	.rcontainer {
		display: block;
	}
}