@media (min-width: 1024px) {
	.home {
		display: grid;
		grid-template-columns: repeat(14, minmax(0, 1fr));
		gap: 1.5rem;
		padding: 2rem 0;
	}

	.lcontainer {
		top: 60px;
		display: block;
		grid-column: span 3 / span 3;
		// height: calc(-210px + 100vh); 임시 주석
		overflow: scroll;
		scrollbar-width: none;
	}

	.mainContainer {
		display: grid;
		grid-column: span 9 / span 9;
		align-content: space-between;
		order: 1;
	}

	.rcontainer {
		position: sticky;
		top: 60px;
		display: block;
		grid-column: span 2 / span 2;
		order: 2;
		// height: calc(-210px + 100vh); 임시 주석
		overflow: scroll;
		scrollbar-width: none;
	}
}