@use 'src/styles/variables';

.container {
	margin-bottom: 32px;
	color: variables.$postSubFontColor;
	font-size: 16px;
};

.info {
	display: flex;
	align-items: center;
	margin-bottom: 0.75rem;

	> div:not(:last-child)::after {
		display: inline-block;
		margin: 0 0.2rem;
		vertical-align: middle;
		content: "·";
	}
}

.tags {
	display: flex;
	gap: 0.2rem;
}

.tag {
	padding: 0.25rem 0.5rem;
	color: variables.$postSubFontColor;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
	background-color: hsl(0deg 0% 17.9%);
	border-radius: 50px;
}