// defalut background color
$backgroundColor: rgb(18 18 18);

// sub background color
$subBackgroundColor: rgb(40 40 40);

// defalut font color
$fontColor: rgb(237 237 237);

// sub font color
$subFontColor: rgb(207 207 207);

// post Font color
$postFontColor: rgb(100 100 100);

// post sub font color
$postSubFontColor: rgb(160 160 160);

// post content border
$postContentBorder: 1px solid hsl(0deg 0% 100% / .9);

// header background color
$headerBackgroundColor: rgb(53 53 53);

// footer hover color
$footerHoverFontColor: rgb(160 160 160);

// home tag background color
$tag: #6c757d;

// profile develop font color
$profileDevelopColor: rgb(199 199 199);

// post detail background color
$postBackgroundColor: hsl(0deg 0.22% 10%);

// post detail tag background color
$postTagBackgroundColor: hsl(0deg 0% 17.9%);

// icon link hover background color
$iconLinkBackgroundColor: rgb(18 18 18);

// defalut font family
$baseFont: notosanskr, serif;