@use './dark' as dark;
@use './light' as light;

html[data-theme="dark"] {
	--background: #{dark.$backgroundColor};
	--sub-background-color: #{dark.$subBackgroundColor};
	--foreground: #{dark.$fontColor};
	--sub-font-color: #{dark.$subFontColor};
	--post-font-color: #{dark.$postFontColor};
	--post-sub-font-color: #{dark.$postSubFontColor};
	--post-content-border: #{dark.$postContentBorder};
	--header-background-color: #{dark.$headerBackgroundColor};
	--footer-hover-font-color: #{dark.$footerHoverFontColor};
	--tag: #{dark.$tag};
	--profile-develop-color: #{dark.$profileDevelopColor};
	--post-background-color: #{dark.$postBackgroundColor};
	--post-tag-background-color: #{dark.$postTagBackgroundColor};
	--icon-link-background-color: #{dark.$iconLinkBackgroundColor};
	--base-font: #{dark.$baseFont};
}

html[data-theme="light"] {
	--background: #{light.$backgroundColor};
	--sub-background-color: #{light.$subBackgroundColor};
	--foreground: #{light.$fontColor};
	--sub-font-color: #{light.$subFontColor};
	--post-font-color: #{light.$postFontColor};
	--post-sub-font-color: #{light.$postSubFontColor};   
	--post-content-border: #{light.$postContentBorder};
	--header-background-color: #{light.$headerBackgroundColor};
	--footer-hover-font-color: #{light.$footerHoverFontColor};
	--tag: #{light.$tag};
	--profile-develop-color: #{light.$profileDevelopColor};
	--post-background-color: #{light.$postBackgroundColor};
	--post-tag-background-color: #{light.$postTagBackgroundColor};
	--icon-link-background-color: #{light.$iconLinkBackgroundColor};
	--base-font: #{light.$baseFont};     
}