@use 'src/styles/variables';

.container {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	background-color: var(--sub-background-color);
	border-radius: 1rem;
}

.title {
	margin: 0;
}

.searchBox {
	width: 100%;
	padding: 0.5rem 1.25rem;
	color: var(--foreground);
	font-family: var(--base-font);
	background-color: transparent;
	border-width: 0;
	outline: none;

	&::placeholder {
		color: var(--foreground);
	}
}